body {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: black;
    #resume {
        border-width: 5px;
        border-style: solid;
        border-color: purple;
        margin: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        > * {
            order: 1;
        }
        h1 {
            order: -1;
            text-align: right;
            font-weight: bold;
        }
        h2 {
            font-weight: bold;
            text-align: end;
            letter-spacing: 0.1em;
        }
        h3 {
            letter-spacing: 1em;
        }
        h4 ,h5, h6 {
            letter-spacing: 0.3em;
            text-align: start;
        }
        #mugshot {
            order: 0;
            flex-basis: 35%;
            height: auto;
            max-width:100%;
            object-position: right;
        }
        #spider-chart {
            order: 0;
            flex-basis: 65%;
        }
        #id-card > p {
            text-align: center;
        }

    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    color: darkslategray;
    flex-basis: 100%;
    background-color: aquamarine;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}







