html {
    display: flex;
    justify-content: center;
}
body {
    margin-top: 30px;
    text-align: center;
    color: black;
    nav {
        position: fixed;
        top: 15px;
        right: 0px;
        width: auto;
        button {
            background-color: transparent;
            border: none;
            img{
                width: 40px;
                height: 40px;
            }
            &:hover {
                img {
                  transform: scale(1.1);
                }
            }
        }
    }
    #resume {
        //border-width: 0px 20px;
        padding: 0px 40px 0px 20px;
        border-style: solid;
        border-color: transparent;
        flex: 1 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        > * {
            order: 1;
        }
        article {
            flex-basis: 100%;
        }
        h1 {
            order: -1;
            text-align: right;
            font-weight: bold;
        }
        h2 {
            font-weight: bold;
            text-align: end;
            letter-spacing: 0.1em;
        }
        h3 {
            letter-spacing: .6em;
        }
        h4 ,h5, h6 {
            letter-spacing: 0.3em;
            text-align: start;
        }
        #id-card {
            display: flex;
            flex-wrap: wrap;
            p {
                text-align: center;
                flex: 1 1;
                margin: 2px;
                padding-left: 6px;
                padding-right: 6px;
                flex-basis: 40%;
            }
        }
        #img-holder {
            display: flex;
            flex: 1 1 100%;
        }
        #mugshot {
            //order: 0;
            flex-basis: 35%;
            width: 100%;
            max-width: 200px;
            height: 100%;
            border-radius: 50%;
        }
        #spider-chart {
            //order: 0;
            flex-grow: 1;
            flex-basis: 65%;
            height: auto;
            max-height: 200px;
            width: auto;
            object-position: right;
        }

    }
}

h1, h2, h3, h4, h5, h6 {
    flex-basis: 100%;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: darkslategray;
}

p, footer {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: justify;
    font-size: 1em;
}

footer {
    font-size: 0.7em;
    color: gray;
    margin: 0px 30px 10px 30px;
    text-align: center;
}

/* unvisited link */
a:link {
color: goldenrod;
}

/* visited link */
a:visited {
color: purple;
}

/* mouse over link */
a:hover {
color: hotpink;
}

/* selected link */
a:active {
color: lightseagreen;
}